.LoginContainer {
    min-height: 100vh;
    background-color:#611db9;
}

.LoginSubContainer {
    padding: 20px;
    background-color:#ffffff;
}

.DivText {
    text-align: center;
}

.btn-login {
    background-color: #1c0836;
    color: #ffffff;
}

.NavBarHome {
    background-color:#1c0836;
}

.HomeContainer {
    min-height: 100vh;
    background-color:#611db9;
}

.HomeItemsContainer{
    margin: auto;
    padding: 70px 0;
    background-color:#ffffff;
}

ul {
    list-style: none;
}

li.li-uni:hover {
    background-color: #d4d4d4;
}

/* Header CSS */

.headerContainer {
    background-color: #1c0836;
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: fixed;
}

.headertitle {
    color: #ffffff;
}

.inav {
    font-size: 1.5rem;
    color: #ffffff;
}

.inav:hover {
    color: #611db9;
}

.nav-link {
    padding: 0;
}

.ddnav::after {
    color: #ffffff;
}

.ddnav:hover::after {
    color: #611db9;
}

/* End Header CSS */

/* Home CSS */

.homepage {
    background-color: #611db9;
    min-height: 100vh;
}

.subHomepage {
    background-color: #ffffff;
    margin-top: 60px;
}

/* End Home CSS */

.profile-container {
    background-color: #611db9;
    min-height: 100vh;
}

.profile-subcontainer {
    background-color: #ffffff;
    width: 60%;
    margin-top: 60px;
}

.img-border {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    border: 2px solid #1c0836;
}

.uni-container {
    background-color: #611db9;
    min-height: 100vh;
}

.uni-subcontainer {
    background-color: #ffffff;
    width: 80%;
    margin-top: 60px;
    display: flex;
}

.chat{
    width: 30rem;
}

.chat-header {
    background-color: #c29df1;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border: solid 2px #1c0836;
}

.chat-body {
    width: 30rem;
    height: 20rem;
    border-left: solid 2px #1c0836;
    border-right: solid 2px #1c0836;
    background-color: #f2eff5;
}

.chat-text {
    background-color: #ffffff;
}

.chat-username:hover {
    cursor: pointer;
}

.chat-footer{
    background-color: #c29df1;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border: solid 2px #1c0836;
}

.request-container{
    background-color: #611db9;
    min-height: 100vh;
}

.request-subcontainer{
    background-color: #ffffff;
    width: 80%;
    margin-top: 60px;
}

.user-request{
    display: flex;
    justify-content: space-between;
    background-color: #dcd3e6;
}

.span-badge{
    padding-left: 0.3em;
    padding-right: 0.3em;
    font-size: 0.8em;
    top: 10%;
    color: #ffffff;
}

.progress-bar{
    height: 5px;
    background: var(--primary);
    margin-top: 20px;
}

.img-grid{
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
  }
.img-wrap{
    overflow: hidden;
    height: 0;
    padding: 50% 0;
    /* padding controls height, will always be perfectly square regardless of width */
    position: relative;
    opacity: 0.8;
}

.img-wrap img{
    min-width: 100%;
    min-height: 100%;
    max-width: 150%;
    position: absolute;
    top: 0;
    left: 0;
}
  
/* modal styles */
.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}
.backdrop img{
    display: block;
    max-width: 60%;
    max-height: 80%;
    margin: 60px auto;
    box-shadow: 3px 5px 7px rgba(0,0,0,0.5);
    border: 3px solid white;
}

@media (min-width: 320px) {
    .LoginSubContainer {
        width: 80%;
    }

    .subHomepage {
        width: 90%;
    }

    .HomeItemsContainer {
        width: 80%;
    }
}

@media (min-width: 768px) {
    .LoginSubContainer {
        width: 50%;
    }

    .subHomepage {
        width: 60%;
    }

    .HomeItemsContainer {
        width: 50%;
    }
}